<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="head(title)">
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title th:text="${title}">Personal Blog</title>

  <!--/* only adds this if we are on the create post page */-->
  <th:block th:if="${page == 'createPost'}">
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <style>
      .CodeMirror { min-height: 300px; }
    </style>
  </th:block>
</th:block>

</html>